.divform{
    width: 360px;
    padding: 15% 10% ;
    margin: auto;
    /* border: 3px solid green; */
}

.form {
    position: relative;
    z-index: 1;
    background: lightblue;
    max-width: 360px;
    margin: 0 auto 00px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
